@{
    ViewData["Title"] = "Home Page";
}
<h2 class="govuk-heading-m">Button Example</h2>

<h3 class="govuk-heading-s">Back link</h3>
<gov-uk-back-link text="Back" href="#" ></gov-uk-back-link>

<hr />