@{
    ViewData["Title"] = "Home Page";
}
<h2 class="govuk-heading-m">Button Example</h2>

<h3 class="govuk-heading-s">Default buttons</h3>
<gov-uk-button text="Submit" name="btn-submit" type="submit"></gov-uk-button>

<hr />