@{
    ViewData["Title"] = "Home Page";
}
<h2 class="govuk-heading-m">Warning Text Example</h2>

<gov-uk-warning-text icon-fallback-text="Warning" text="You can be fined up to £5,000 if you do not register." />

<hr />